@{
    ViewData["Title"] = "DIARCO UNITED";
}


<h1>Agregar partido de diarco</h1>
<form id="formPartidoDiarco">
    <h5>Rival</h5>
    <input name="Rival" placeholder="Lasalete"/>
    <h5>Goles a favor</h5>
    <input name="GolesFavor" placeholder="99" id="golesfavor"/>

    <h5>Goles en contra</h5>
    <input name="GolesFavor" placeholder="99"/>
</form>
<button id="submitPartidoDiarco"></button>