<img src="~/assets/editriber.jpg" alt="edit" class="equipo__edit">

<a href='@Url.Action("Insertar")'><p>Insertar</p></a>
<div class="equipo" >

    <div class="equipo__arquero">
    <h2 class="equipo__titulo">Arquero</h2>
        <div class="equipo__arquero equipo__alineacion--derecha">

        </div>
        <div class="equipo__carta--fondo" id="Arquero">
            `<div class="equipo__carta equipo__carta--2">
            <img src="" class="equipo__carta--img" id="imagen_arquero">
            <div class="carta__cuerpo"><div class="carta__nombres">
            <h5 class="carta__nombre" id="nombre_arquero"></h5>
            <h4 class="carta__apellido" id="apellido_arquero"></h4>
            </div>
            <h3 class="carta__numero" id="numero_arquero"></h3>
            </div>
            </div>`
        </div>
        <div class="equipo__alineacion--izquierda">

        </div>

        @* DEFENSORES!!! *@

            <div class="equipo__arquero">
        <h2 class="equipo__titulo">Defensores</h2>
        <div class="equipo__arquero equipo__alineacion--derecha-2">

        </div>
        <div class="equipo__carta--fondo" id="Defensa">
            <div class="equipo__carta equipo__carta--1">
                <img src="" alt="" class="equipo__carta--img" id="imagen_defensa_1">

                <div class="carta__cuerpo">
                    <div class="carta__nombres">
                        <h5 class="carta__nombre" id="nombre_defensa_1"></h5>
                        <h4 class="carta__apellido" id="apellido_defensa_1"></h4>                        
                    </div>

                    <h3 class="carta__numero" id="numero_defensa_1">8</h3>
                </div>
            </div>

            <div class="equipo__carta equipo__carta--2">
                <img src="" alt="" class="equipo__carta--img" id="imagen_defensa_2">

                <div class="carta__cuerpo">
                    <div class="carta__nombres">
                        <h5 class="carta__nombre" id="nombre_defensa_2">Tobias</h5>
                        <h4 class="carta__apellido" id="apellido_defensa_2">Zaselsky</h4>                        
                    </div>

                    <h3 class="carta__numero" id="numero_defensa_2">8</h3>
                </div>
            </div>

            <div class="equipo__carta equipo__carta--3">
                <img src="" alt="" class="equipo__carta--img" id="imagen_defensa_3">

                <div class="carta__cuerpo">
                    <div class="carta__nombres">
                        <h5 class="carta__nombre" id="nombre_defensa_3">Tobias</h5>
                        <h4 class="carta__apellido" id="apellido_defensa_3">Zaselsky</h4>                        
                    </div>

                    <h3 class="carta__numero" id="numero_defensa_3">8</h3>
                </div>
            </div>
        </div>
        <div class="equipo__alineacion--izquierda-2">

        </div>

    </div>

        <div class="equipo__arquero">
        <h2 class="equipo__titulo">Mediocampistas</h2>
        <div class="equipo__arquero equipo__alineacion--derecha">

        </div>
        <div class="equipo__carta--fondo">
            <div class="equipo__carta equipo__carta--3">
                <img src="" alt="" class="equipo__carta--img" id="imagen_medio_1">

                <div class="carta__cuerpo">
                    <div class="carta__nombres">
                        <h5 class="carta__nombre" id="nombre_medio_1">Tobias</h5>
                        <h4 class="carta__apellido" id="apellido_medio_1">Zaselsky</h4>                        
                    </div>

                    <h3 class="carta__numero" id="numero_medio_1">8</h3>
                </div>
            </div>

            <div class="equipo__carta equipo__carta--2">
                <img src="" alt="" class="equipo__carta--img" id="imagen_medio_2">

                <div class="carta__cuerpo">
                    <div class="carta__nombres">
                        <h5 class="carta__nombre" id="nombre_medio_2">Tobias</h5>
                        <h4 class="carta__apellido" id="apellido_medio_2">Zaselsky</h4>                        
                    </div>

                    <h3 class="carta__numero" id="numero_medio_2">8</h3>
                </div>
            </div>

            <div class="equipo__carta equipo__carta--1">
                <img src="" alt="" class="equipo__carta--img" id="imagen_medio_3">

                <div class="carta__cuerpo">
                    <div class="carta__nombres">
                        <h5 class="carta__nombre" id="nombre_medio_3">Tobias</h5>
                        <h4 class="carta__apellido" id="apellido_medio_3">Zaselsky</h4>                        
                    </div>

                    <h3 class="carta__numero" id="numero_medio_3">8</h3>
                </div>
            </div>
        </div>
        <div class="equipo__alineacion--izquierda">

        </div>

    </div>


                                @* DELANTEROS *@
            <div class="equipo__arquero">
        <h2 class="equipo__titulo">Delanteros</h2>
        <div class="equipo__arquero equipo__alineacion--derecha-2">

        </div>
        <div class="equipo__carta--fondo">
            <div class="equipo__carta equipo__carta--3">
                <img src="" alt="" class="equipo__carta--img" id="imagen_delan_1">

                <div class="carta__cuerpo">
                    <div class="carta__nombres">
                        <h5 class="carta__nombre" id="nombre_delan_1">Tobias</h5>
                        <h4 class="carta__apellido" id="apellido_delan_1">Zaselsky</h4>                        
                    </div>

                    <h3 class="carta__numero" id="numero_delan_1">8</h3>
                </div>
            </div>

            <div class="equipo__carta equipo__carta--2">
                <img src="" alt="" class="equipo__carta--img" id="imagen_delan_2">

                <div class="carta__cuerpo">
                    <div class="carta__nombres">
                        <h5 class="carta__nombre" id="nombre_delan_2">Tobias</h5>
                        <h4 class="carta__apellido" id="apellido_delan_2">Zaselsky</h4>                        
                    </div>

                    <h3 class="carta__numero" id="numero_delan_2">8</h3>
                </div>
            </div>

            <div class="equipo__carta equipo__carta--1">
                <img src="" alt="" class="equipo__carta--img" id="imagen_delan_3">

                <div class="carta__cuerpo">
                    <div class="carta__nombres">
                        <h5 class="carta__nombre" id="nombre_delan_3">Tobias</h5>
                        <h4 class="carta__apellido" id="apellido_delan_3">Zaselsky</h4>                        
                    </div>

                    <h3 class="carta__numero" id="numero_delan_3">8</h3>
                </div>
            </div>
        </div>
        <div class="equipo__alineacion--izquierda-2">

        </div>

    </div>
</div>
