<img src="~/assets/editriber.jpg" alt="edit" class="equipo__edit">

<a href='@Url.Action("Insertar")'><p>Insertar</p></a>
<div class="equipo">

    <div class="equipo__arquero">
    <h2 class="equipo__titulo">Arquero</h2>
        <div class="equipo__arquero equipo__alineacion--derecha equipo__alineacion--derecha-2">

        </div>
        <div class="equipo__carta--fondo">
            <div class="equipo__carta">
                <img src="~/assets/messi-1.jpeg" alt="" class="equipo__carta--img">
            </div>
        </div>
        <div class="equipo__alineacion--izquierda">

        </div>
    </div>

</div>