<img src="~/assets/editriber.jpg" alt="edit" class="equipo__edit">

<a href='@Url.Action("Insertar")'><p>Insertar</p></a>
<div class="equipo">

    <div class="equipo__arquero">
    <h2 class="equipo__titulo">Arquero</h2>
        <div class="equipo__arquero equipo__alineacion--derecha equipo__alineacion--derecha-2">

        </div>
        <div class="equipo__carta--fondo">
            <div class="equipo__carta">
                <img src="~/assets/messi-1.jpeg" alt="" class="equipo__carta--img">

                <div class="carta__cuerpo">
                    <div class="carta__nombres">
                        <h5 class="carta__nombre">Tobias</h5>
                        <h4 class="carta__apellido">Zaselsky</h4>                        
                    </div>

                    <h3 class="carta__numero">8</h3>
                </div>
            </div>
        </div>
        <div class="equipo__alineacion--izquierda">

        </div>
    </div>

</div>