<div class="estadisticas">

    <div class="estadisticas__izquierda">
        <div class="estadisticas-totales">
            <div class="totales__cuadrado">
                <h2 class="totales__titulo"></h2>
                <h5 class="totales__subtitulo"></h5>
            </div>
            <div class="totales__cuadrado">
                <h2 class="totales__titulo"></h2>
                <h5 class="totales__subtitulo"></h5>
            </div>
            <div class="totales__cuadrado">
                <h2 class="totales__titulo"></h2>
                <h5 class="totales__subtitulo"></h5>
            </div>
            <div class="totales__cuadrado">
                <h2 class="totales__titulo"></h2>
                <h5 class="totales__subtitulo"></h5>
            </div>
            <div class="totales__cuadrado">
                <h2 class="totales__titulo"></h2>
                <h5 class="totales__subtitulo"></h5>
            </div>
            <div class="totales__cuadrado">
                <img src="#" alt="logo" class="totales__img"/>
                <h5 class="totales__subtitulo"></h5>
            </div>
        </div>

        <div class="estadisticas-grandes">
            <h3 class="grandes__titulo">Goles</h3>
            <div class="grandes__header">
                <div class="grandes__stats">
                    <h3 class="grandes__stat" id="estadisticas-primero" id="estadisticas-primero">Sede</h3>
                    <h3 class="grandes__stat">A favor</h3>
                    <h3 class="grandes__stat">En contra</h3>
                    <h3 class="grandes__stat">Dif</h3>
                    <h3 class="grandes__stat">PG</h3>
                </div>
            </div>
            <div class="grandes__estadisticas">
                    <h3 class="grandes__stat" id="estadisticas-primero">Sede</h3>
                    <h3 class="grandes__stat">A favor</h3>
                    <h3 class="grandes__stat">En contra</h3>
                    <h3 class="grandes__stat">Dif</h3>
                    <h3 class="grandes__stat">PG</h3>
                    <h3 class="grandes__stat" id="estadisticas-primero">Sede</h3>
                    <h3 class="grandes__stat">A favor</h3>
                    <h3 class="grandes__stat">En contra</h3>
                    <h3 class="grandes__stat">Dif</h3>
                    <h3 class="grandes__stat">PG</h3>
            </div>
        
        </div>

        <div class="estadisticas-grandes">
            <h3 class="grandes__titulo">Goleadores</h3>
            <div class="grandes__header">
                <div class="grandes__stats">
                    <h3 class="grandes__stat" id="estadisticas-primero" id="estadisticas-primero">Sede</h3>
                    <h3 class="grandes__stat">A favor</h3>
                    <h3 class="grandes__stat">En contra</h3>
                    <h3 class="grandes__stat">Dif</h3>
                    <h3 class="grandes__stat">PG</h3>
                </div>
            </div>
            <div class="grandes__estadisticas">
                    <h3 class="grandes__stat" id="estadisticas-primero">Sede</h3>
                    <h3 class="grandes__stat">A favor</h3>
                    <h3 class="grandes__stat">En contra</h3>
                    <h3 class="grandes__stat">Dif</h3>
                    <h3 class="grandes__stat">PG</h3>
                    <h3 class="grandes__stat" id="estadisticas-primero">Sede</h3>
                    <h3 class="grandes__stat">A favor</h3>
                    <h3 class="grandes__stat">En contra</h3>
                    <h3 class="grandes__stat">Dif</h3>
                    <h3 class="grandes__stat">PG</h3>
            </div>
        
        </div>




    </div>

    <div class="estadisticas__derecha">
        <div class="estadisticas__chica">
            <div class="chica__header">
                <h3 class="chica__stat">Jugadores</h3>
                <h3 class="chica__stat">F5</h3>
                <h3 class="chica__stat">F8</h3>
                <h3 class="chica__stat">Total</h3>
            </div>

            <div class="chica__estadisticas">
                <h3 class="chicas__stat">PG</h3>
                <h3 class="chicas__stat">PG</h3>
                <h3 class="chicas__stat">PG</h3>
                <h3 class="chicas__stat">PG</h3>
                <h3 class="chicas__stat">PG</h3>
                <h3 class="chicas__stat">PG</h3>
                <h3 class="chicas__stat">PG</h3>
                <h3 class="chicas__stat">PG</h3>
            </div>
        </div>

        <!-- holaaa -->

        <div class="estadisticas__chica-2"> 
            <div class="chica__header-2">
                <h3 class="chica__stat">Jugadores</h3>
                <h3 class="chica__stat">Total</h3>
            </div>

            <div class="chica__estadisticas-2">
                <h3 class="chicas__stat">PG</h3>
                <h3 class="chicas__stat">PG</h3>
                <h3 class="chicas__stat">PG</h3>
                <h3 class="chicas__stat">PG</h3>
                <h3 class="chicas__stat">PG</h3>
                <h3 class="chicas__stat">PG</h3>
                <h3 class="chicas__stat">PG</h3>
                <h3 class="chicas__stat">PG</h3>
            </div>
        </div>

        <div class="estadisticas__chica-2"> 
            <div class="chica__header-2">
                <h3 class="chica__stat">Jugadores</h3>
                <h3 class="chica__stat">Total</h3>
            </div>

            <div class="chica__estadisticas-2">
                <h3 class="chicas__stat">PG</h3>
                <h3 class="chicas__stat">PG</h3>
                <h3 class="chicas__stat">PG</h3>
                <h3 class="chicas__stat">PG</h3>
                <h3 class="chicas__stat">PG</h3>
                <h3 class="chicas__stat">PG</h3>
                <h3 class="chicas__stat">PG</h3>
                <h3 class="chicas__stat">PG</h3>
            </div>
        </div>

    </div>

</div>