<div class="estadisticas">

    <div class="estadisticas__izquierda">
        <div class="estadisticas-totales">
            <div class="totales__cuadrado">
                <h2 class="totales__titulo"></h2>
                <h5 class="totales__subtitulo"></h5>
            </div>
            <div class="totales__cuadrado">
                <h2 class="totales__titulo"></h2>
                <h5 class="totales__subtitulo"></h5>
            </div>
            <div class="totales__cuadrado">
                <h2 class="totales__titulo"></h2>
                <h5 class="totales__subtitulo"></h5>
            </div>
            <div class="totales__cuadrado">
                <h2 class="totales__titulo"></h2>
                <h5 class="totales__subtitulo"></h5>
            </div>
            <div class="totales__cuadrado">
                <h2 class="totales__titulo"></h2>
                <h5 class="totales__subtitulo"></h5>
            </div>
            <div class="totales__cuadrado">
                <img src="#" alt="logo" class="totales__img"/>
                <h5 class="totales__subtitulo"></h5>
            </div>
        </div>

        <div class="estadisticas-grandes">
            <div class="grandes__header">
                <h3 class="grandes__titulo">Goles</h3>
                <div class="grandes__stats">
                <h3 class="grandes__stat"></h3>
                </div>
            </div>
        
        </div>



    </div>

</div>