<div class="historial">
    <div class="historial__header">
        <img class="historial__logo" src="~/assets/escudo.png"/>
        <h2 class="historial__titulo">DIARCO UNITED</h2>
    </div>

    <div class="historial__partidos" id="tabla_historial">
        <article class="historial__partido">
            <h3 class="partidoH__titulo">TIA - CLAUSURA - JORNADA 4 DE 12 </h3>

            <div class="partidoH__info">
                <div class="partidoH__equipos">
                    <div class="partidoH__equipo">
                        <div class="partidoH__equipo--wrapper">
                            <img class="partidoH__logo" src="~/assets/escudo.png"/>
                            <h6 class="partidoH__nombre">Diarco United</h6>
                        </div>
                        <h6 class="partidoH__resultado">2</h6>
                    </div>
                         <div class="partidoH__equipo">
                            <div class="partidoH__equipo--wrapper">
                                <img class="partidoH__logo" src="~/assets/escudo.png"/>
                                <h6 class="partidoH__nombre">Diarco United</h6>
                            </div>
                            <h6 class="partidoH__resultado">2</h6>
                    </div>
                </div>

                <div class="partidoH__derecha">
                    <div class="partidoH__hora">
                        <h5 class="partidoH__fin">Fin</h5>
                        <h5 class="partidoH__fecha">23/7</h5>
                    </div>

                    <img class="partidoH__video" src="#"/>
                </div>
            </div>
        </article>
         <article class="historial__partido">
            <h3 class="partidoH__titulo">TIF - CLAUSURA - JORNADA 4 DE 12 </h3>

            <div class="partidoH__info">
                <div class="partidoH__equipos">
                        <div class="partidoH__equipo">
                        <div class="partidoH__equipo--wrapper">
                        <img class="partidoH__logo" src="~/assets/escudo.png"/>
                        <h6 class="partidoH__nombre">Diarco United</h6>
                        </div>
                        <h6 class="partidoH__resultado">2</h6>
                    </div>
                        <div class="partidoH__equipo">
                        <img class="partidoH__logo" src="~/assets/escudo.png"/>
                        <h6 class="partidoH__nombre"></h6>
                    </div>
                </div>

                <div class="partidoH__derecha">
                    <div class="partidoH__hora">
                        <h5 class="partidoH__fin">Fin</h5>
                        <h5 class="partidoH__fecha">23/7</h5>
                    </div>

                    <img class="partidoH__video" src="#"/>
                </div>
            </div>
        </article>
        <article class="historial__partido">
            <h3 class="partidoH__titulo">TIFA - CLAUSURA - JORNADA 4 DE 12 </h3>

            <div class="partidoH__info">
                <div class="partidoH__equipos">
                    <div class="partidoH__equipo">
                        <div class="partidoH__equipo--wrapper">
                            <img class="partidoH__logo" src="~/assets/escudo.png"/>
                            <h6 class="partidoH__nombre">Diarco United</h6>
                        </div>
                        <h6 class="partidoH__resultado">2</h6>
                    </div>
                         <div class="partidoH__equipo">
                            <div class="partidoH__equipo--wrapper">
                                <img class="partidoH__logo" src="~/assets/escudo.png"/>
                                <h6 class="partidoH__nombre">Diarco United</h6>
                            </div>
                            <h6 class="partidoH__resultado">2</h6>
                    </div>
                </div>

                <div class="partidoH__derecha">
                    <div class="partidoH__hora">
                        <h5 class="partidoH__fin">Fin</h5>
                        <h5 class="partidoH__fecha">23/7</h5>
                    </div>

                    <img class="partidoH__video" src="#"/>
                </div>
            </div>
        </article>
         <article class="historial__partido">
            <h3 class="partidoH__titulo">TIFA - CLAUSURA - JORNADA 4 DE 12 </h3>

            <div class="partidoH__info">
                <div class="partidoH__equipos">
                        <div class="partidoH__equipo">
                        <div class="partidoH__equipo--wrapper">
                        <img class="partidoH__logo" src="~/assets/escudo.png"/>
                        <h6 class="partidoH__nombre">Diarco United</h6>
                        </div>
                        <h6 class="partidoH__resultado">2</h6>
                    </div>
                        <div class="partidoH__equipo">
                        <img class="partidoH__logo" src="~/assets/escudo.png"/>
                        <h6 class="partidoH__nombre"></h6>
                    </div>
                </div>

                <div class="partidoH__derecha">
                    <div class="partidoH__hora">
                        <h5 class="partidoH__fin">Fin</h5>
                        <h5 class="partidoH__fecha">23/7</h5>
                    </div>

                    <img class="partidoH__video" src="#"/>
                </div>
            </div>
        </article>
    </div>
</div>