@{
    ViewData["Title"] = "DIARCO UNITED";
}

<img src="~/assets/editriber.jpg" class="home__edit"/>

<section class="home__partido">
    <div class="proximo">
        <h3 class="proximo__titulo">Proximo Partido</h3>
        <img src="~/assets/escudo.png" class="proximo__img"/>
    </div>

    <div class="proximo-datos">
    <div class="proximo-datos__titulos">
        <h3 class="proximo-datos__titulo">Sabado 02 de Septiembre 08:30</h3>
        <h3 class="proximo-datos__titulo">Sede GRUN</h3>
    </div>
        <button class="proximo-datos__boton">CONVOCADOS</button>
    </div>
</section>

<section class="home__carrusel">
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="d-block w-100 carousel__jugador" alt="...">
                    
            </div>
        </div>
        <div class="carousel-item">
        <img src="~/assets/messi-2.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="~/assets/messi-3.jfif" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
</section>

<section class="home__ultimos">
    <h3 class="ultimos__titulo">ULTIMOS PARTIDOS</h3>


    <h6 class="ultimos__fecha">09/12/2018 18:00</h6>
    <div class="ultimos__partido">
        <img src="~/assets/tifa-logo.png" class="partido__tifa"/>
        
        <div class="partido__equipos">
            <h4 class="partido__equipo">Boca Juniors</h4>
            <img src="~/assets/escudo.png" class="partido__img"/>
            <h4 class="partido__resultado">7 - 0</h4>
            <img src="~/assets/escudo.png" class="partido__img"/>
            <h4 class="partido__equipo">Atalanta United</h4>
        </div>
    </div>

        <h6 class="ultimos__fecha">09/12/2018 18:00</h6>
    <div class="ultimos__partido">
        <img src="~/assets/tifa-logo.png" class="partido__tifa"/>
        
        <div class="partido__equipos">
            <h4 class="partido__equipo">Boca Juniors</h4>
            <img src="~/assets/escudo.png" class="partido__img"/>
            <h4 class="partido__resultado">7 - 0</h4>
            <img src="~/assets/escudo.png" class="partido__img"/>
            <h4 class="partido__equipo">Atalanta United</h4>
        </div>
    </div>

        <h6 class="ultimos__fecha">09/12/2018 18:00</h6>
    <div class="ultimos__partido">
        <img src="~/assets/tifa-logo.png" class="partido__tifa"/>
        
        <div class="partido__equipos">
            <h4 class="partido__equipo">Boca Juniors</h4>
            <img src="~/assets/escudo.png" class="partido__img"/>
            <h4 class="partido__resultado">7 - 0</h4>
            <img src="~/assets/escudo.png" class="partido__img"/>
            <h4 class="partido__equipo">Atalanta United</h4>
        </div>

    </div>

            <h6 class="ultimos__fecha">09/12/2018 18:00</h6>
        <div class="ultimos__partido">
        <img src="~/assets/tifa-logo.png" class="partido__tifa"/>
        
        <div class="partido__equipos">
            <h4 class="partido__equipo">Boca Juniors</h4>
            <img src="~/assets/escudo.png" class="partido__img"/>
            <h4 class="partido__resultado">7 - 0</h4>
            <img src="~/assets/escudo.png" class="partido__img"/>
            <h4 class="partido__equipo">Atalanta United</h4>
        </div>
</section>

<div class="index__popup">
    <h2 class="popup__titulo">Proximo Partido</h2>
    <div class="popup__contador">

        <div class="contador__cuadrado">
            <div class="contador__hora">09</div>
            <h6 class="contador__titulo">Dias</h6>
        </div>
        <div class="contador__cuadrado">
            <div class="contador__hora">12</div>
            <h6 class="contador__titulo">Horas</h6>
        </div>
        <div class="contador__cuadrado">
            <div class="contador__hora">18</div>
            <h6 class="contador__titulo">Minutos</h6>
        </div>
        <div class="contador__cuadrado">
            <div class="contador__hora">69</div>
            <h6 class="contador__titulo">Segundos</h6>
        </div>
    </div>

    <div class="popup__partido">
        <div class="popup__parrafos">
            <p class="popup__parrafo">Sabado 03 de Agosto 17:30</p>
            <p class="popup__parrafo">Sede GRUN</p>
        </div>

        <img src="~/assets/escudo.png" class="popup__img" alt="equipo rival">
    </div>

    <button class="popup__boton">CONVOCADOS</button>
</div>