@{
    ViewData["Title"] = "DIARCO UNITED";
}

<img src="~/assets/editriber.jpg" class="home__edit"/>

<section class="home__partido">
    <div class="proximo">
        <h3 class="proximo__titulo">Proximo Partido</h3>
        <img src="~/assets/escudo.png" class="proximo__img"/>
    </div>

    <div class="proximo-datos">
        <h3 class="proximo-datos__titulo">Sabado 02 de Septiembre 08:30</h3>
        <h3 class="proximo-datos__titulo">Sede GRUN</h3>
        <button class="proximo-datos__boton">CONVOCADOS</button>
    </div>
</section>