<h1>Insertar Jugador</h1>
<form action="" id="form-insertar" onsubmit="InsertarJugador()">
    <input type="text" id="nombreJugador" placeholder="nombre">
        <input type="text" id="apellidoJugador" placeholder="apellido">

    <input type="number" id="numeroJugador" placeholder="numero">

    <select name="posicionJugador">
    <option value="0">Arquero</option>
    <option value="1">Defensor</option>
    <option value="2">Mediocampista</option>
    <option value="3">Delantero</option>
    </select>

    <input type="text" id="fotoJugador" placeholder="link a la foto del jugador">
    <button type="submit" ></button>


    </form>
