<img src="~/assets/editriber.jpg" class="home__edit"/>
<button class="proximo-datos__boton">Filtrar</button>

<section class="carousel">
</section>

<section class="cards_tienda">
<section class="fila">
<div class="card_tienda">
<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-body-secondary">
    Camiseta Titular 2023
  </div>
</div>
</div>
<div class="card_tienda">
<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-body-secondary">
    Camiseta Titular 2023
  </div>
</div>
</div>
<div class="card_tienda">
<div class="card text-center">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    
    <a href="#" class="comprar">¡Comprar Ya!</a>
  </div>
  <div class="card-footer text-body-secondary">
    Camiseta Titular 2023
  </div>
</div>
</div>
</section>
<section class="fila">
</section>
<section class="fila">
</section>
</section>