<img src="~/assets/editriber.jpg" class="home__edit"/>
<button class="proximo-datos__boton">Filtrar</button>

<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card_carousel_tienda" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">#11 YUZE</h5>
            <a href="#" class="btn btn-primary">¡Comprar Ya!</a>
        </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<section class="cards_tienda">
<div class="card_tienda">
    <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <a href="#" class="btn btn-primary">$28.000</a>
            <h5 class="card-title">camiseta titular 2023</h5>
        </div>
    </div>
    <div class="card">
    <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <a href="#" class="btn btn-primary">$28.000</a>
            <h5 class="card-title">camiseta titular 2023</h5>
        </div>
    </div>
    <div class="card">
    <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <a href="#" class="btn btn-primary">$28.000</a>
            <h5 class="card-title">camiseta titular 2023</h5>
        </div>
    </div>
</section>

