<img src="~/assets/editriber.jpg" class="home__edit"/>
<button class="proximo-datos__boton">Filtrar</button>

<section class="carousel">
</section>

<section class="card-container-general">
<div class="carta-container">
  <div class="carta__tienda">
  <div class="cuadrado_tienda">
      <img src="~/assets/editriber.jpg" class="img_card_tienda">
  </div>
  </div>
    <div class="carta__tienda">carta 2</div>
    <div class="carta__tienda">carta 3</div>
  </div>
  <div class="carta-container">
  <div class="carta__tienda">carta 4</div>
    <div class="carta__tienda">carta 5</div>
    <div class="carta__tienda">carta 6</div>
  </div>
  <div class="carta-container">
  <div class="carta__tienda">carta 7</div>
    <div class="carta__tienda">carta 8</div>
    <div class="carta__tienda">carta 9</div>
  </div>
</section>

<img src="~/assets/editriber.jpg" class="tienda_edit"/>