<img src="~/assets/editriber.jpg" class="home__edit"/>
<button class="proximo-datos__boton">Filtrar</button>

<section class="splide" aria-label="Splide Basic HTML Example">
  <div class="splide__track">
		<ul class="splide__list">
			<li class="splide__slide">
        <div class="splide__carta">
        <div class="splide__img__wrapper">
          <img src="~/assets/remera.jfif"/>
        </div>
          <div class="splide__abajo">
              <div class="splide__abajo--linea"></div>
              <h5 class="splide__titulo">#11 YUZE</h5>
              <button class="splide__boton"></button>
          </div>
        </div>
      </li>
			<li class="splide__slide">
        <div class="splide__carta">
          <img src="~/assets/remera.jfif"/>

          <div class="splide__abajo">
              <div class="splide__abajo--linea"></div>
              <h5 class="splide__titulo">#11 YUZE</h5>
              <button class="splide__boton"></button>
          </div>
        </div>
      </li>
			<li class="splide__slide">
        <div class="splide__carta">
          <img src="~/assets/remera.jfif"/>

          <div class="splide__abajo">
              <div class="splide__abajo--linea"></div>
              <h5 class="splide__titulo">#11 YUZE</h5>
              <button class="splide__boton"></button>
          </div>
        </div>
      </li>
      <li class="splide__slide">
        <div class="splide__carta">
          <img src="~/assets/remera.jfif"/>

          <div class="splide__abajo">
              <div class="splide__abajo--linea"></div>
              <h5 class="splide__titulo">#11 YUZE</h5>
              <button class="splide__boton"></button>
          </div>
        </div>
      </li>
		</ul>
  </div>
</section>

</section>

<section class="card-container-general">

<div class="carta-container">
    <div class="carta__tienda">
      <div class="cuadrado_tienda">
      <img src="~/assets/editriber.jpg" class="img_card_tienda">
      </div>
    </div>



    <div class="carta__tienda">
      <div class="cuadrado_tienda">
      <img src="~/assets/editriber.jpg" class="img_card_tienda">
      </div>
    </div>

    <div class="carta__tienda">
      <div class="cuadrado_tienda">
      <img src="~/assets/editriber.jpg" class="img_card_tienda">
      </div>
    </div>
</div>



  <div class="carta-container">

    <div class="carta__tienda">
      <div class="cuadrado_tienda">
      <img src="~/assets/editriber.jpg" class="img_card_tienda">
      </div>
    </div>



    <div class="carta__tienda">
      <div class="cuadrado_tienda">
      <img src="~/assets/editriber.jpg" class="img_card_tienda">
      </div>
    </div>

    <div class="carta__tienda">
      <div class="cuadrado_tienda">
      <img src="~/assets/editriber.jpg" class="img_card_tienda">
      </div>
    </div>

  </div>
  <div class="carta-container">
  <div class="carta__tienda">
      <div class="cuadrado_tienda">
      <img src="~/assets/editriber.jpg" class="img_card_tienda">
      </div>
    </div>



    <div class="carta__tienda">
      <div class="cuadrado_tienda">
      <img src="~/assets/editriber.jpg" class="img_card_tienda">
      </div>
    </div>

    <div class="carta__tienda">
      <div class="cuadrado_tienda">
      <img src="~/assets/editriber.jpg" class="img_card_tienda">
      </div>
    </div>
</section>

<img src="~/assets/editriber.jpg" class="tienda_edit"/>

<script src="~/js/Splide.js" type="module"></script>