
<div class="tienda">
<img src="~/assets/edit__tienda.png" class="home__edit__tienda"/>
<button class="boton__tienda"><i class="fa-solid fa-sort-down"></i>     Filtrar</button>

<section class="splide" aria-label="Splide Basic HTML Example">
  <div class="splide__track">
		<ul class="splide__list">
			<li class="splide__slide">
        <div class="splide__carta">
        <div class="splide__img--wrapper">
          <img class="splide__img" src="~/assets/zasel.png"/>
        </div>
          <div class="splide__abajo">
              <div class="splide__abajo--linea"></div>
              <h5 class="splide__titulo">#11 YUZE</h5>
              <button class="splide__boton">¡COMPRAR YA!</button>
          </div>
        </div>
      </li>
			<li class="splide__slide">
        <div class="splide__carta">
        <div class="splide__img--wrapper">
          <img class="splide__img" src="~/assets/zasel.png"/>
        </div>
          <div class="splide__abajo">
              <div class="splide__abajo--linea"></div>
              <h5 class="splide__titulo">#11 YUZE</h5>
              <button class="splide__boton">¡COMPRAR YA!</button>
          </div>
        </div>
      </li>
			<li class="splide__slide">
        <div class="splide__carta">
        <div class="splide__img--wrapper">
          <img class="splide__img" src="~/assets/zasel.png"/>
        </div>
          <div class="splide__abajo">
              <div class="splide__abajo--linea"></div>
              <h5 class="splide__titulo">#11 YUZE</h5>
              <button class="splide__boton">¡COMPRAR YA!</button>
          </div>
        </div>
      </li>
      <li class="splide__slide">
        <div class="splide__carta">
        <div class="splide__img--wrapper">
          <img class="splide__img" src="~/assets/zasel.png"/>
        </div>
          <div class="splide__abajo">
              <div class="splide__abajo--linea"></div>
              <h5 class="splide__titulo">#11 YUZE</h5>
              <button class="splide__boton">¡COMPRAR YA!</button>
          </div>
        </div>
      </li>
		</ul>
  </div>
</section>


<section class="card-container-general">

<div class="carta-container">
    <div class="carta__tienda">
      <div class=Precio_tienda id="precio_producto_1">
        $28.000
      </div>
      <div class="Imagen__Producto">
      <img src="~/assets/editriber.jpg" class="img_card_tienda" id="foto_producto_1">
      </div>
      
      <h3 class="Titulo_Tienda" id="nombre_producto_1">Camiseta Titular 2023</h3>  
    </div>



    <div class="carta__tienda">
      <div class=Precio_tienda id="precio_producto_2">
        $28.000
      </div>
      <div class="Imagen__Producto">
      <img src="~/assets/editriber.jpg" class="img_card_tienda" id="foto_producto_2">
      </div>
      <h3 class="Titulo_Tienda" id="nombre_producto_2">Camiseta Titular 2023</h3>  
    </div>

    <div class="carta__tienda">
      <div class=Precio_tienda id="precio_producto_3">
        $28.000
      </div>
      <div class="Imagen__Producto">
      <img src="~/assets/editriber.jpg" class="img_card_tienda" id="foto_producto_3">
      </div>
      <h3 class="Titulo_Tienda" id="nombre_producto_3">Camiseta Titular 2023</h3>  
    </div>
</div>



  <div class="carta-container">

    <div class="carta__tienda">
      <div class=Precio_tienda id="precio_producto_4">
        $28.000
      </div>
      <div class="Imagen__Producto">
      <img src="~/assets/editriber.jpg" class="img_card_tienda" id="foto_producto_4">
      </div>
      <h3 class="Titulo_Tienda" id="nombre_producto_4">Camiseta Titular 2023</h3>  
    </div>



    <div class="carta__tienda">
      <div class=Precio_tienda id="precio_producto_5">
        $28.000
      </div>
      <div class="Imagen__Producto">
      <img src="~/assets/editriber.jpg" class="img_card_tienda" id="foto_producto_5">
      </div>
      <h3 class="Titulo_Tienda" id="nombre_producto_5">Camiseta Titular 2023</h3>  
    </div>

    <div class="carta__tienda">
      <div class=Precio_tienda id="precio_producto_6">
        $28.000
      </div>
      <div class="Imagen__Producto">
      <img src="~/assets/editriber.jpg" class="img_card_tienda" id="foto_producto_6">
     </div>
      <h3 class="Titulo_Tienda" id="nombre_producto_6">Camiseta Titular 2023</h3>  
      
    </div>

  </div>
  <div class="carta-container">
    <div class="carta__tienda">  
<div class=Precio_tienda id="precio_producto_7">
        $28.000
      </div>
      <div class="Imagen__Producto">
      <img src="~/assets/editriber.jpg" class="img_card_tienda" id="foto_producto_7">  
      </div>
      <h3 class="Titulo_Tienda" id="nombre_producto_7">Camiseta Titular 2023</h3>  
    </div>



    <div class="carta__tienda"> 
<div class=Precio_tienda id="precio_producto_8">
        $28.000
      </div>
      <div class="Imagen__Producto">
      <img src="~/assets/editriber.jpg" class="img_card_tienda" id="foto_producto_8">   
      </div>
      <h3 class="Titulo_Tienda" id="nombre_producto_8">Camiseta Titular 2023</h3>   
    </div>

    <div class="carta__tienda">  
        <div class=Precio_tienda id="precio_producto_9">
        $28.000
      </div>
      <div class="Imagen__Producto">
      <img src="~/assets/editriber.jpg" class="img_card_tienda" id="foto_producto_9">
      </div>
      <h3 class="Titulo_Tienda" id="nombre_producto_9">Camiseta Titular 2023</h3>  
    </div>
</section>

<img src="~/assets/edit__tienda.png" class="tienda_edit"/>

<script src="~/js/Splide.js" type="module"></script>
</div>