<img src="~/assets/editriber.jpg" class="home__edit"/>
<button class="proximo-datos__boton">Filtrar</button>

<section class="splide">

    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
        <div class="splide__carta">
        </div>
        </li>
        <li class="splide__slide">Slide 02</li>
        <li class="splide__slide">Slide 03</li>
      </ul>
  </div>
</section>

</section>

<section class="card-container-general">

<div class="carta-container">
    <div class="carta__tienda">
      <div class="cuadrado_tienda">
      <img src="~/assets/editriber.jpg" class="img_card_tienda">
      </div>
    </div>



    <div class="carta__tienda">
      <div class="cuadrado_tienda">
      <img src="~/assets/editriber.jpg" class="img_card_tienda">
      </div>
    </div>

    <div class="carta__tienda">
      <div class="cuadrado_tienda">
      <img src="~/assets/editriber.jpg" class="img_card_tienda">
      </div>
    </div>
</div>



  <div class="carta-container">

    <div class="carta__tienda">
      <div class="cuadrado_tienda">
      <img src="~/assets/editriber.jpg" class="img_card_tienda">
      </div>
    </div>



    <div class="carta__tienda">
      <div class="cuadrado_tienda">
      <img src="~/assets/editriber.jpg" class="img_card_tienda">
      </div>
    </div>

    <div class="carta__tienda">
      <div class="cuadrado_tienda">
      <img src="~/assets/editriber.jpg" class="img_card_tienda">
      </div>
    </div>

  </div>
  <div class="carta-container">
  <div class="carta__tienda">
      <div class="cuadrado_tienda">
      <img src="~/assets/editriber.jpg" class="img_card_tienda">
      </div>
    </div>



    <div class="carta__tienda">
      <div class="cuadrado_tienda">
      <img src="~/assets/editriber.jpg" class="img_card_tienda">
      </div>
    </div>

    <div class="carta__tienda">
      <div class="cuadrado_tienda">
      <img src="~/assets/editriber.jpg" class="img_card_tienda">
      </div>
    </div>
</section>

<img src="~/assets/editriber.jpg" class="tienda_edit"/>