
<head>
  <title>Tabla de Posiciones</title>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    th:first-child,
    td:first-child {
      /* Ancho para la columna de Posición */
      width: 20px;
    }
    th {
      background-color: #f2f2f2;
    }
    .banner {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  </style>
</head>
<body>

<div class="container">
  <h2>Clasificación</h2>
  <img class="banner" src="~/assets/visitartienda.png" alt="Banner Superior">
  
  <table>
    <thead>
      <tr>
        <th style="width: 20px;">Posición</th>
        <th>Equipo</th>
        <th>Datos</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="width: 20px;">1</td>
        <td>Nombre del Equipo 1</td>
        <td>Datos del Equipo 1</td>
      </tr>
      <tr>
        <td style="width: 20px;">2</td>
        <td>Nombre del Equipo 2</td>
        <td>Datos del Equipo 2</td>
      </tr>
      <!-- Puedes añadir más filas según sea necesario -->
    </tbody>
  </table>

 <img class="banner" src="~/assets/visitartienda.png" alt="Banner Superior">
</div>

</body>
</html>
