<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tabla de Posiciones</title>
</head>
<body class="the">

  <h1 class="soygay">Tabla de Posiciones</h1>

  <table>
    <thead>
      <tr>
        <th>POS</th>
        <th>EQUIPO</th>
        <th>PTS</th>
        <th>J</th>
        <th>G</th>
        <th>E</th>
        <th>P</th>
        <th>GF</th>
        <th>GC</th>
        <th>GD</th>
      </tr>
    </thead>
    <tbody>
      <!-- Ejemplo de una fila -->
      <tr>
        <td>1</td>
        <td class="torneo__equipo">
          <img src="~/assets/escudo.png" alt="" class="escudo">
         <h3>Equipo 1</h3>
        </td>
        <td>3</td>
        <td>1</td>
        <td>1</td>
        <td>0</td>
        <td>0</td>
        <td>3</td>
        <td>1</td>
        <td>2</td>
      </tr>

      <!-- Puedes agregar más filas según sea necesario -->
      <tr>
        <td>2</td>
        <td class="torneo__equipo">
          <img src="~/assets/escudo.png" alt="" class="escudo">
          <h3>Equipo 2</h3>
        </td>
        <td>0</td>
        <td>1</td>
        <td>0</td>
        <td>0</td>
        <td>1</td>
        <td>1</td>
        <td>2</td>
        <td>-1</td>
      </tr>
      <tr>
        <td>1</td>
        <td class="torneo__equipo">
          <img src="~/assets/escudo.png" alt="" class="escudo">
         <h3>Equipo 1</h3>
        </td>
        <td>3</td>
        <td>1</td>
        <td>1</td>
        <td>0</td>
        <td>0</td>
        <td>3</td>
        <td>1</td>
        <td>2</td>
      </tr>
    </tbody>
  </table>

</body>
</html>
