
<head>
  <title>Tabla de Posiciones</title>
  <style>
    .table-container {
      width: 80%;
      margin: 0 auto;
    }
    table {
      border-spacing: 0;
      width: 100%;
    }
    th, td {
      border: 1px solid #999;
      padding: 8px;
      text-align: center;
    }
    th {
      background-color: #f2f2f2;
    }
    .team-name {
      display: flex;
      align-items: center;
      width: 2%;
    }
    .team-name img {
      margin-right: 10px;
      max-width: 100%;
      height: auto;
    }
  </style>
</head>
<body>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>POS</th>
        <th>EQUIPO</th>
        <th>PTS</th>
        <th>J</th>
        <th>G</th>
        <th>E</th>
        <th>P</th>
        <th>GF</th>
        <th>GC</th>
        <th>GD</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td class="team-name">
          <img src="~/assets/escudo.png" alt="Escudo del Equipo A">
          Equipo A
        </td>
        <td>9</td>
        <td>4</td>
        <td>3</td>
        <td>0</td>
        <td>1</td>
        <td>8</td>
        <td>3</td>
        <td>+5</td>
      </tr>
      <!-- Agrega más filas con el mismo formato para otros equipos si es necesario -->
    </tbody>
  </table>
</div>

</body>
</html>
