
<div class="the">

  <h1 class="soygay">Tabla de Posiciones</h1>

  <table>
    <thead>
      <tr>
        <th class="aver">POS</th>
        <th></th>
        <th>EQUIPO</th>
        <th>PTS</th>
        <th>J</th>
        <th>G</th>
        <th>E</th>
        <th>P</th>
        <th>GF</th>
        <th>GC</th>
        <th>GD</th>
      </tr>
    </thead>
    <tbody id="TablaTorneo">
      <!-- Ejemplo de una fila -->
      
    </tbody>
  </table>

</div>
</html>
