@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700;900&family=Montserrat:wght@600&display=swap');

html {
  font-size: 62.5%;
}

:root{
  --oscuro: #1B003A;
  --principal: #47297B;
  --claro: #6F2DBD;
  --amarillo: #FFD93D;
  --amarillo-oscuro: #F5BD1F;
}

a{
  color: inherit;
  text-decoration: none;
}

*, ul{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Maven Pro', sans-serif;
  background-color: #f7f7f7;
  position: relative;
}



.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    user-select: none;
}

#titulo__izquierda{
  margin-right: 10px;
}

#titulo__derecha{
  margin-left: 10px;
}

.header__titulo{
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 5px 5px 5px #0004;
}

.header__img{
  width: 5rem;
}

.nav {
  display: flex;
  justify-content: space-between; /* Distribuye los elementos a lo largo del eje principal (horizontal) */
  align-items: center; /* Centra los elementos verticalmente */
  background-color: var(--principal);
}

.menu {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  margin-left: 32rem;
  min-width: 30%;
  
}

.menu__item{
  display: inline-block;
  padding: 2rem 1.5rem;
  font-size: 2rem;
  color: var(--amarillo);
  font-weight: 500;
}

.menu__botones {
  text-align: right;
  margin-right: 14rem;
}

.menu__boton{
  padding: 1rem;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 500;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1.4rem;

}

.fa-id-card{
  margin-right: 8px;
}

.fa-cart-shopping{
  margin-right: 8px;
}

#miDiarco{
  background-color: transparent;
  border: var(--amarillo) 1px solid;
  color: var(--amarillo);
  margin-right: 2rem;
}

#tienda{
  background-color: var(--amarillo);
  color: var(--principal);
  border: none;
}

.footer{
  margin-top: 40rem;
  background-color: #000;
  position: relative;
  color: #fbfbfb;
}

.footer__img{
  width: 10%;
  position: absolute;
  top: -25%;
  right: 45%;
}

.footer__frases{
  display: flex;
  justify-content: space-around;
  padding: 13rem 0 8rem 0;
}

.footer__titulo{
  font-size: 3.5rem;
  font-weight: 400;
  transition: all .3s;
  user-select: none;
}

.footer__iconos{
  display: flex;
  justify-content: center;
  font-size: 4rem;
  padding: 5rem;
}

.footer__icono{
  margin-right: 2rem;
  transition: all .3s;
}

.footer__icono:hover{
  color: var(--amarillo);
}

.fa-envelope{
  margin-right: 0;
}

/* INDEX */

.home__edit{
  width: 100%;
  height: 45rem;
  margin: auto;
  display: block;
}

.home__partido{
  display: flex;
  padding: 10rem 0;
}

.proximo{
  text-align: center;
}

.proximo__titulo{
  font-size: 2.8rem;
  margin-bottom: 3rem;
  color: var(--oscuro);
}

.proximo__img{
  width: 15%;
}

.proximo-datos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.proximo-datos__titulos{
  text-align: center;
  font-size: 5rem;
  color: var(--principal);
}

.proximo-datos__titulo{
  font-weight: 500;
}

.proximo-datos__boton{
  text-transform: uppercase;
  font-family: 'Maven Pro', sans-serif;
  background-color: var(--principal);
  color: var(--amarillo);
  font-size: 2.1rem;
  font-weight: 500;
  padding: 1rem 6rem;
  outline: none;
  border: none;
  border-radius: 12px;
  box-shadow: inset 7px 7px 5px #0003;
  cursor: pointer;
}

.home__carrusel{
  margin: 5rem;
}

.carousel-inner{
  width: 100%;
  height: 100%;
}

.carousel{
  height: 60rem;
}

.carousel__jugador{
  background-color: var(--oscuro);
  height: 60rem;
}


.home__ultimos{
  width: 60%;
  margin: auto;
  margin-bottom: 30rem;
}

.ultimos__titulo{
  font-size: 2.8rem;
  background-color: var(--oscuro);
  color: #f7f7f7;
  padding: 2rem;
  border-radius: 4px;
  margin-bottom: 3rem;
  text-align: center;
}

.ultimos__fecha{
  text-align: center;
  font-size: 1.2rem;
}

.ultimos__partido{
  display: flex;
  justify-content: space-between;
  background-color: var(--oscuro);
  width: 80%;
  margin: auto;
  margin-bottom: 3rem;
}

.partido__tifa{
  width: 7rem;
  border-right: 2px solid #f7f7f7;
}

.partido__equipos{
  display: flex;
  width: 100%;
  color: #fbfbfb;
  justify-content: space-evenly;
  align-items: center;
}

.partido__equipo, .partido__resultado{
  font-size: 1.8rem;
}

.partido__img{
  width: 6rem;
}

.hidden{
  opacity: 0;
  visibility: hidden;
  display: none;
}

/* POPUP */

.index__body{
  position: relative;
}

.fa-xmark{
  color: #fff;
  font-size: 3rem;
  position: absolute;
  right: 5%;
  top: 5%;
}

.negro::before {
  content: "";
  background-color: #0008;
  z-index: 2; /* Establece un índice de apilamiento inferior al de otros elementos */
  position: absolute; /* Asegura que el fondo se extienda a lo largo de toda la página */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.index__popup{
  padding: 2rem;
  position: absolute;
  top: 5%;
  right: 30%;
  background-color: var(--oscuro);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: auto;
  z-index: 10;
  border: 1px solid var(--amarillo-oscuro);
  border-radius: 20px;
}

.popup__titulo{
  color: #fbfbfb;
  font-size: 4rem;
  font-weight: 700;
  margin: 3rem;
}

.popup__contador{
  display: flex;

}

.contador__cuadrado{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2rem;
}

.contador__hora{
  background-color: var(--claro);
  width: 10rem;
  height: 10rem;
  border-radius: 8px;
  font-size: 4rem;
  color: var(--amarillo);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}


.contador__titulo{
  color: #fbfbfb;
  font-size: 1.7rem;
  font-weight: 500;

}

.popup__partido{
  margin: 5rem 0;
  display: flex;
  color: #fff;
  justify-content: space-around;
  align-items: center;
}

.popup__parrafos{
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.popup__boton{
  text-transform: uppercase;
  font-family: 'Maven Pro', sans-serif;
  background-color: var(--principal);
  color: var(--amarillo);
  font-size: 2.1rem;
  font-weight: 500;
  padding: 1rem 6rem;
  border-radius: 12px;
  cursor: pointer;
  border:1px solid var(--amarillo-oscuro);
}

.popup__img{
  margin-right: 3rem;
  width: 15%;
}

.invisible{
  display: none;
  opacity: 0;
}

.visible{
  display: flex;
  opacity: 1;
}

/* EQUIPO */

.equipo{
}

.equipo__titulo{
  z-index: 10;
  color: #000;
  text-align: center !important;
  position: relative;
  font-size: 3rem;
}

.equipo__edit{
  width: 100%;
  height: 20rem;
}

.equipo__alineacion--derecha{
  width: 100%;
  background-color: var(--oscuro);
  height: 25rem;
  clip-path: polygon(0 0, 100% 90%, 100% 100%, 0 100%);
  /* polygon(0 0, 100% 0, 100% 60%, 0 100%) */
  transform: translateZ(0);
}


.equipo__alineacion--izquierda{
  width: 100%;
  background-color: var(--oscuro);
  height: 25rem;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 10%);
  /*  */
  transform: translateZ(0);
}

.equipo__alineacion--derecha-2{
  width: 100%;
  background-color: var(--oscuro);
  height: 25rem;
  clip-path: polygon(0 100%, 100% 00%, 100% 100%, 0 100%);
  /* polygon(0 0, 100% 0, 100% 60%, 0 100%) */
}


.equipo__alineacion--izquierda-2{
  width: 100%;
  background-color: var(--oscuro);
  height: 25rem;
  clip-path: polygon(0 0, 100% 0, 100% 10%, 0% 90%);
  /*  */
}

.equipo__carta--fondo{
  background-color: var(--oscuro);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.equipo__carta{
  border: 1px solid var(--amarillo-oscuro);
  background-color: var(--oscuro);
  width: 14%;
  text-align: center;
  padding: 3rem;
  padding-bottom: 1.5rem;
  border-radius: 15px;
  position: absolute;
  z-index: 10;
}

.equipo__carta--1{
  left: 20%;
}

.equipo__carta--3{
  right: 20%;
}


.carta__cuerpo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carta__nombres{
  margin-top: 1rem;
  text-align: start;
  
}
.carta__nombre{
  color: #ccc;
  font-size: 2rem;
  line-height: .8;
}

.carta__apellido{
  color: #fff;
    font-size: 2rem;
    
}

.carta__numero{
  color: #777;
  font-size: 5rem;
}

.equipo__carta--img{
  width: 100%;
  height: 25rem;
}


/*Tienda*/
.card-container-general{
  display: flex;
  flex-direction: column;
}
.carta-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: space-around;
  margin: 5%;
}

.carta__tienda {
  position: relative;
  border-radius: 1.5rem;
  width: 26%;
  text-align: center;
  box-shadow: 5px 10px 4px 0px #0003;
  align-items: center;
  background-color: #47297B;
  height: 40rem;
  display:flex;
  flex-direction:column;
  align-items: center;  
  justify-content: space-evenly;

}
.Imagen__Producto{
  width: 95%;
  margin-top: 2.5%;
  height: 33rem;
  border-radius: 3rem;
  background-color: #fff;
}
.Imagen__Producto img{
  width: 60%;
  margin-top: 2.5%;
  height: auto;
  border-radius: 3rem;
}
.Titulo_Tienda{
  color: #fff;
}

.Precio_tienda {
  z-index: 100;
  border-radius: 3rem;
  text-align: center;
  width: 35%;
  height: 3.5rem;
  background-color: #EDC531;
  font-size: 2.3rem;
  position: absolute;
  bottom: 5.8rem;
  left: 1.2rem;
  color: #fff;
}
.img_card_tienda{
  width: 100%;
}

.tienda_edit{
  width: 80%;
  height: 15rem;
  margin-right: 10%;
  margin-left: 10%;
}

.splide__carta{
  border-radius: 10px;
  width: 60%;
  text-align: center;
}

.splide__img--wrapper{
  background-color: #aaa;

}

.splide__img--wrapper img{
  width: 70%;
}

/* Estilos generales */
.the {
  font-family: 'Arial', sans-serif;
  margin: 20px;
}
.the h1{
  margin-left: 20%;
}

table {
  width: 85%;
  margin: auto;
  margin-top: 20px;
}

th {
  background-color: #f2f2f2;
}

th .escudo,
td .escudo {
  width: 50px;
  height: auto;
  text-align: left;
}
.torneo__equipo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.torneo__equipo h3{
  text-align: center;
  font-size: 1.3rem;
}

.torneo__equipo img{
  margin-right: 10%;
}

th,
td {
  padding: 8px;
  text-align: center;
}

